<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBmaRJDEOv8-505S5M2kE7Iit_XGwrYhc</string>
	<key>GCM_SENDER_ID</key>
	<string>106851372678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rise.investor</string>
	<key>PROJECT_ID</key>
	<string>customapp2-3a7c0</string>
	<key>STORAGE_BUCKET</key>
	<string>customapp2-3a7c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106851372678:ios:99ab7e7bb69b33c2e5cb07</string>
</dict>
</plist>